<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="1.1.1" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="4.3.4" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="xamarinios10" />
  <package id="MvvmCross" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Forms.Presenter" version="4.0.3" targetFramework="xamarinios10" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Accelerometer" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.All" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Bookmarks" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Color" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.DownloadCache" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Email" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.File" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Json" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.JsonLocalization" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Location" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Messenger" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.MethodBinding" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Network" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.PhoneCall" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.PictureChooser" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.ReflectionEx" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.ResourceLoader" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Share" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.SoundEffects" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.ThreadUtils" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Visibility" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.WebBrowser" version="4.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="xamarinios10" />
  <package id="Splat" version="1.6.2" targetFramework="xamarinios10" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="xamarinios10" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="xamarinios10" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.1.0.6529" targetFramework="xamarinios10" />
</packages>