<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="5.0.0-beta2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Acr.XamForms.UserDialogs" version="4.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Media" version="2.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.2.0.23-pre4" targetFramework="portable45-net45+win8+wpa81" />
  <package id="XLabs.IoC" version="2.0.5783-pre01" targetFramework="portable45-net45+win8+wpa81" />
</packages>